@charset "utf-8";
/* CSS Document */
html {
 
}

#main-bio {
  

    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    text-align: center;
    padding: 10px;
    border: 5px blanchedalmond;
    margin-left: 50px;
    margin: 0; 
    color: whitesmoke;
    font-position: center;
    

   color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
   
   margin-top: 10px;
   padding-right: 6%;
   padding-left: 2%;
}
#bio1 { 
    max-width: 30%;
    float: left;
    margin: 4%;
    padding: ;
} 
#bio2  {
    
    max-width: 30%;
    float: right;
    margin: 4% 4% 9% 4%;
    padding: ;


}          
        
#name {
    color:#ff3333;
}

#footer-bio  {
        border: none;
        margin-top: 100px;
    }
    
p {
        padding: 0 20px;
        text-align: left;
    }    
    
    
