h3 {
  text-align: center;
}

#sub-form.container-fluid {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid black;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#sub-form.container-fluid .btn-default{
  background-color: red;
  color: white;
  margin-top: 5px;
  border: 4px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #FBC926, #FFFBCC, #C3922E, #EED688);
  -webkit-border-image: -webkit-linear-gradient(left, #FBC926, #FFFBCC, #C3922E, #EED688);
  border-image: linear-gradient(to right, #FBC926, #FFFBCC, #C3922E, #EED688);
  border-image-slice: 1;
}

#msg-box {
  float: left;
  width: 70%;
  margin-bottom: 35px;
}

#checkbox {
  width: 30%;
  float: left;
}



