
/* Background image for homepage */
html {
  background: url('../photos/limehouse.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Home page footer */
#hp-footer.footer {
  background: inherit;
  border-top: none;
  text-align: center;
}

#hp-footer.footer p {
  color: white;
}

.container-fluid {
  text-align: center;
}

.container-fluid .btn {
  font-size: 30px;
  background-color: inherit;
  border: 20px solid white;
  color: white;	
  margin-top: 60px;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  padding: 10px 5px;
}

.container-fluid .btn p {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.container-fluid .btn:hover {
  color: #FFFBCC;
  border: 20px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #FBC926, #FFFBCC, #C3922E, #EED688);
  -webkit-border-image: -webkit-linear-gradient(left, #FBC926, #FFFBCC, #C3922E, #EED688);
  border-image: linear-gradient(to right, #FBC926, #FFFBCC, #C3922E, #EED688);
  border-image-slice: 1;
}

.freelance-logo-hp {
  border: none; 
  max-width: 85%;
  margin-top: 15px;
}

#head-hp.header {
  margin-top: 40px;
}
